
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <span class="d-block d-lg-none">Ivan Daniel Galvan</span>
                <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="assets/img/perfil.jpeg" alt="..." /></span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">Datos Personales</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education">Educación</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">Habilidades</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#interests">Proyectos</a></li>
                </ul>
            </div>
        </nav>
        <!-- Page Content-->
        <div class="container-fluid p-0">
            <!-- About-->
            <section class="resume-section" id="about">
                <div class="resume-section-content">
                    <h1 class="mb-0">
                        Ivan Daniel
                        <span class="text-primary">Galvan</span>
                    </h1>
                    <div class="subheading mb-5">
                        Villa Yacanto de Calamuchita · (221) 643-3241 ·
                        <a class="text-primary" href="mailto:ivangalvan93@gmail.com">ivangalvan93@gmail.com</a>
                    </div>
                    <p class="lead mb-5">Estudiante de desarrollo web FullStack, constantemente aprendiendo nuevos lenguajes y tecnologías. Amplio conocimiento de reparación de PC, dispositivos electrónicos y software en general. Soy una persona responsable, proactiva y con gran capacidad de trabajo en equipo. Actualmente estoy en busqueda de insertarme laboralmente en el área de programación.</p>
                    <div class="social-icons">
                        <a class="social-icon" href="https://www.linkedin.com/in/ivan-galvan-120624246/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                        <a class="social-icon" href="https://github.com/Galvann" target="_blank"><i class="fab fa-github"></i></a>
                        <a class="social-icon" href="https://www.facebook.com/Gaavoo/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a class="social-icon" href="mailto:ivangalvan93@gmail.com"><i class="fa-solid fa-envelope"></i></a>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <hr class="m-0" />
            <!-- Education-->
            <section class="resume-section" id="education">
                <div class="resume-section-content">
                    <h2 class="mb-5">Educación</h2>                   
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Desarrollo Web Full Stack - #Yo Programo</h3>
                            <div class="subheading mb-3">Argentina Programa</div>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">2022</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Front End Developer</h3>
                            <div class="subheading mb-3">Potrero Digital</div>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">2022</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Fundamentos de la Programación - #Se Programar</h3>
                            <div class="subheading mb-3">Argentina Programa</div>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">2022</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Desarrollo Web con HTML</h3>
                            <div class="subheading mb-3">Educacion IT - Buenos Aires</div>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">2020</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Java para no programadores</h3>
                            <div class="subheading mb-3">Educacion IT - Buenos Aires</div>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">2019</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Introducción al paradigma de objetos</h3>
                            <div class="subheading mb-3">Educacion IT - Buenos Aires</div>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">2019</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Introducción a base de datos y SQL</h3>
                            <div class="subheading mb-3">Educacion IT - Buenos Aires</div>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">2019</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Técnico en instalación y mantenimiento de redes</h3>
                            <div class="subheading mb-3">CFP 414 - Buenos Aires - La Plata</div>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">2017</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Técnico en reparación de PC</h3>
                            <div class="subheading mb-3">CFP 414 - Buenos Aires - La Plata</div>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">2017</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Bachiller en Gestión de las Organizaciones</h3>
                            <div class="subheading mb-3">Liceo Victor Mercante (UNLP) - Buenos Aires - La Plata</div>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">2010</span></div>
                    </div>
                    
                </div>
            </section>
            <hr class="m-0" />
            <!-- Skills-->
            <section class="resume-section" id="skills">
                <div class="resume-section-content">
                    <h2 class="mb-5">Habilidades</h2>
                    <div class="subheading mb-3"></div>
                    <ul class="subheading fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Desarrollo Front End
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Trabajo en equipo
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Capacidad de aprendizaje
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Manejo de Inglés
                        </li>
                    </ul>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Proyectos-->
            <section class="resume-section" id="interests">
                <div class="resume-section-content row justify-content-center">
                    <h2 class="mb-5">Proyectos</h2>
                    <div class="card col-12 col-lg-6 mb-5 border border-primary" style="width: 20rem; height: 25rem;">
                        <img src="./assets/img/glasir.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Glasir Vitrofusión</h5>
                          <p class="card-text">Portafolio de artesanías con datos de contacto y formularios de pedidos</p>
                          <a href="https://galvann.github.io/glasir/" target="_blank" class="btn btn-primary">Ir a la página</a>
                        </div>
                    </div>
                    
                    <div class="card col-12 col-lg-6 ms-lg-5 border border-primary" style="width: 20rem; height: 25rem;">
                        <img src="./assets/img/lomito.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Trabajo práctico Curso FrontEnd Portrero Digital</h5>
                          <p class="card-text">Práctica de HTML, CSS, Javascript, Bootstrap</p>
                          <a href="https://galvann.github.io/EDLP_trabajopractico8/" target="_blank" class="btn btn-primary">Ir a la página</a>
                        </div>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
